@*
Time To Pay Bank account not found - select existing direct debit or create new Direct Debit Form
    @param Form[ArrangementExistingDirectDebit]  The form for this page
    @param Seq[BankDetails] Existing bank details to re-use
*@
@import uk.gov.hmrc.selfservicetimetopay.models.ArrangementExistingDirectDebit
@import uk.gov.hmrc.selfservicetimetopay.models.BankDetails
@import uk.gov.hmrc.selfservicetimetopay.models.DirectDebitInstruction
@(ddForm:Form[ArrangementExistingDirectDebit], bankAccounts:Seq[DirectDebitInstruction], loggedIn: Boolean = false)(implicit request: Request[_]))
@import selfservicetimetopay.partials.{having_problems_sidebar, direct_debit_confirmation, direct_debit_fields}
@import selfservicetimetopay.helpers.highlight
@import selfservicetimetopay.helpers.forms.{form, select, formErrorSummary, submit}
@import uk.gov.hmrc.selfservicetimetopay.controllers.routes
@selectOptions = @{
    Seq(("", "")) ++
            bankAccounts.map{ b => (b.referenceNumber.get, b.accountNumber.get + " | " + b.sortCode.get) }
}
@selfservicetimetopay.main(
    title = Messages("ssttp.common.title"),
    bodyClasses = None,
    sidebarLinks = Some(having_problems_sidebar())
){
    <header class="page-header text">
        <h2>@Messages("ssttp.arrangement.misalignment.title")</h2>
    </header>
        @highlight('_modifierClass -> "highlight-message--light"){<p>@Messages("ssttp.arrangement.misalignment.subtitle")</p>}
        @form(routes.DirectDebitController.submitBankAccountNotFound()) {
            @formErrorSummary(Messages("ssttp.arrangement.misalignment.form.error.summary.title"), ddForm, Seq.empty)
            @if(bankAccounts.nonEmpty) {
                <div class="panel-indent">
                    <h2>@Messages("ssttp.arrangement.misalignment.existing.title")</h2>
                    @select(ddForm("existingDdi"), selectOptions)
                </div>
                <h3>@Messages("ssttp.arrangement.misalignment.direct-debit.or")</h3>
                <div class="panel-indent">
            } else {
                <div>
            }
            <h2>@Messages("ssttp.arrangement.misalignment.direct-debit.reenter")</h2>
            @direct_debit_fields(ddForm, ddForm("directDebit.accountName"), ddForm("directDebit.sortCode"), ddForm("directDebit.accountNumber"))
            </div>
            <p>@direct_debit_confirmation()</p>
            @submit() {
                @Messages("ssttp.arrangement.misalignment.submit")
            }
        }
    <div><a class="back-link" href="@routes.DirectDebitController.getDirectDebit()">@Messages("ssttp.arrangement.misalignment.back")</a></div>
}

