@*
Time To Pay Application Complete Print Page

@param debits Debits for user fromtheir tax account
@param directDebit ArrangementDirectDebit The details of the diect debit arrangement set up
@param schedule PaymentSchedule THe payment schedule set up

*@
@import uk.gov.hmrc.selfservicetimetopay.models.{Debit, CalculatorPaymentSchedule, ArrangementDirectDebit}
@(debits:Seq[Debit], directDebit:ArrangementDirectDebit, schedule:CalculatorPaymentSchedule)(implicit request: Request[_])
@import selfservicetimetopay.helpers.message_list
@import selfservicetimetopay.partials.{what_you_owe, direct_debit_details, payment_schedule}
@import selfservicetimetopay.partials.currency
@script = {
  <script type="text/javascript">$(function(){window.print()})</script>
}
@selfservicetimetopay.main(
  title = Messages("ssttp.common.title"),
  mainClass = Some("hard--bottom"),
  scriptElem = Some(script),
  noGetHelp = true
){
  <div class="transaction-banner--complete">
    <div class="transaction-banner__heading header-h1" role="banner">@Messages("ssttp.arrangement.complete.title")</div>
    <p class="heading-large" id="ssttpOutcome">@Messages("ssttp.arrangement.complete.subtitle")</p>
  </div>
  <section class="divider--bottom">
    <h2>@Messages("ssttp.arrangement.complete.next")</h2>
    <p>@message_list(Some("bullets"), "ssttp.arrangement.complete.next.list.")</p>
    <p>@Messages("ssttp.arrangement.complete.one-off-service")</p>
  </section>
  <section>
    <h3>@Messages("ssttp.arrangement.complete.what-you-owe")</h3>
    @what_you_owe(debits)
    <div class="subsection grid-layout divider--bottom font-xsmall">
      <div class="grid-layout__column grid-layout__column--3-4">
        <p>@Messages("ssttp.arrangement.complete.payment-plan", schedule.instalments.length)</p>
        <p><span class="font-xsmall">@Messages("ssttp.arrangement.complete.interest-rate", 2.75)</span></p>
      </div>
      <div class="grid-layout__column grid-layout__column--1-4 align--middle"><p>@currency(schedule.totalInterestCharged)</p></div>
    </div>
    <div class="subsection grid-layout divider--bottom font-xsmall">
      <div class="grid-layout__column grid-layout__column--3-4"><p><strong>@Messages("ssttp.arrangement.complete.total")</strong></p></div>
      <div class="grid-layout__column grid-layout__column--1-4 align--middle"><p><strong>@currency(schedule.totalPayable)</strong></p></div>
    </div>
    @direct_debit_details(directDebit, true)
    @payment_schedule(schedule)
  </section>
}

