@*
Time To Pay Direct Debit Form Page

@param schedule PaymentSchedule The results data to display

*@
@import uk.gov.hmrc.selfservicetimetopay.models.ArrangementDirectDebit
@(ddForm:Form[ArrangementDirectDebit], loggedIn: Boolean = false)(implicit request: Request[_])

@import selfservicetimetopay.partials.{having_problems_sidebar, direct_debit_confirmation, direct_debit_fields}
@import selfservicetimetopay.helpers.{highlight, alert, message_list}
@import selfservicetimetopay.helpers.forms.{form, formErrorSummary, submit}
@import uk.gov.hmrc.selfservicetimetopay.controllers.routes

@selfservicetimetopay.main(
  title = Messages("ssttp.arrangement.direct-debit.form.title"),
  loggedIn = loggedIn,
  sidebarLinks = Some(having_problems_sidebar())
){
    <header class="page-header text">
        <h1>@Messages("ssttp.arrangement.direct-debit.form.title")</h1>
    </header>
      @form(routes.DirectDebitController.submitDirectDebit()) {
      @formErrorSummary(Messages("ssttp.arrangement.direct-debit.form.error.summary.title"), ddForm, Seq.empty)
      <h2>@Messages("ssttp.arrangement.direct-debit.form.bank-details")</h2>
      @direct_debit_fields(ddForm, ddForm("accountName"), ddForm("sortCode"), ddForm("accountNumber"))
      @direct_debit_confirmation()
      @submit(){@Messages("ssttp.arrangement.direct-debit.form.submit")}
      <p>&nbsp;</p>
    }
  <p><a class="back-link" href="@routes.ArrangementController.getInstalmentSummary()">@Messages("ssttp.arrangement.direct-debit.form.back")</a></p>
}

