@*
Time To Pay Direct Debit Form Page

@param schedule PaymentSchedule The results data to display

*@
@import uk.gov.hmrc.selfservicetimetopay.models.ArrangementDirectDebit
@import uk.gov.hmrc.selfservicetimetopay.models.DirectDebitBank
@(ddForm:Form[ArrangementDirectDebit], banks:Option[DirectDebitBank])(implicit request: Request[_])
@import selfservicetimetopay.partials.{direct_debit_guarantee, direct_debit_confirmation}
@import selfservicetimetopay.helpers.{alert, message_list}
@import selfservicetimetopay.helpers.forms.{form, formErrorSummary, inlinetextinput, textinput, fieldset, checkbox, submit}
@import uk.gov.hmrc.selfservicetimetopay.controllers.routes
@selfservicetimetopay.main(
  title = Messages("ssttp.common.title"),
  bodyClasses = None,
  sidebarLinks = Some(selfservicetimetopay.partials.sidebar())
){
  <section>
    <h2 style="heading-h1">@Messages("ssttp.arrangement.direct-debit.form.title")</h2>
    @form(routes.DirectDebitController.submitDirectDebit()) {
      @formErrorSummary(Messages("ssttp.arrangement.direct-debit.form.error.summary.title"), ddForm, Seq.empty)
      <h3 class="heading-h2">@Messages("ssttp.arrangement.direct-debit.form.bank-details")</h3>
      @textinput(ddForm("accountHolderName"),
        'label -> Messages("ssttp.arrangement.direct-debit.form.accountName"),
        '_inputClass -> "input--cleared")


      @textinput(ddForm("accountNumber"),
        'label -> Messages("ssttp.arrangement.direct-debit.form.accountNumber"),
        '_inputClass -> "input--cleared"
      )
      @direct_debit_confirmation()
      @checkbox(ddForm("confirmed"), Option(Html(Messages("ssttp.arrangement.direct-debit.form.confirmed"))),
        '_labelClass -> "block-label"
      )
      @submit(){@Messages("ssttp.arrangement.direct-debit.form.submit")}
      <p>&nbsp;</p>
    }
  </section>
  @direct_debit_guarantee()
}

