@*
  Time To Pay Direct Debit Assistance and Error Page

  @param schedule CalculatorPaymentSchedule The results data to display
  @param debits Sequence of Debit The direct debit details
  @param showErrorNotification Boolean, default false  If true display an error notification on the page
  @param loggedIn Boolean default false, If true display the sign out link in the page header
*@
@import uk.gov.hmrc.selfservicetimetopay.models.{CalculatorPaymentSchedule, Debit}
@(debits:Seq[Debit], schedule:CalculatorPaymentSchedule, loggedIn: Boolean = true, showErrorNotification: Boolean = false)(implicit request: Request[_])

@import selfservicetimetopay.helpers.highlight
@import selfservicetimetopay.partials.{what_you_owe, currency}
@import uk.gov.hmrc.selfservicetimetopay.controllers.routes

@selfservicetimetopay.main(
  title = Messages("ssttp.arrangement.direct-debit.assistance.title"),
  loggedIn = loggedIn
){
  @if(showErrorNotification) {
    <div>
    @highlight('_modifierClass -> "highlight-message--yellow") {
      <p><strong>@Messages("ssttp.arrangement.direct-debit.assistance.alert")</strong></p>
      <p>@Messages("ssttp.arrangement.direct-debit.assistance.alert.1")</p>
    }
      </div>
  }
  <header class="page-header text">
    <h1>@Messages("ssttp.arrangement.direct-debit.assistance.title")</h1>
  </header>

  <section>
    <div>
      <p>You’ll need this information to set up your Direct Debit instruction.</p>
      <p>Please call <strong>0300 322 7015</strong> to complete your application.</p>
      <br>

      <h2>What you owe</h2>
      @what_you_owe(debits)
      <div class="subsection grid-layout divider--bottom font-xsmall">
        <div class="grid-layout__column grid-layout__column--3-4"><p><strong>@Messages("ssttp.arrangement.complete.total")</strong></p></div>
        <div class="grid-layout__column grid-layout__column--1-4 align--middle"><p><strong>@currency(schedule.amountToPay)</strong></p></div>
      </div>

      <h2>The instalments you chose</h2>
      <div class="subsection grid-layout">
        <div class="grid-layout__column grid-layout__column--1-2">
        @Messages("ssttp.arrangement.instalment-summary.initial-payment-of")
        </div>
        <div class="grid-layout__column grid-layout__column--1-2">
          <strong> @currency(schedule.initialPayment)</strong>
          <div class="form-hint form-hint--small">@Messages("ssttp.arrangement.instalment-summary.initial-payment.hint", 5)</div>
        </div>
      </div>
      <div class="subsection grid-layout">
        <div class="grid-layout__column grid-layout__column--1-2">
          <strong>@schedule.instalments.length</strong> @Messages("ssttp.arrangement.instalment-summary.monthly-instalments")
        </div>
        <div class="grid-layout__column grid-layout__column--1-2">
          <strong>@currency(schedule.instalments.head.amount)</strong>
        </div>
      </div>
      <div class="subsection grid-layout divider--bottom">
        <div class="grid-layout__column grid-layout__column--1-2">
        @Messages("ssttp.arrangement.instalment-summary.total-interest")
        </div>
        <div class="grid-layout__column grid-layout__column--1-2">
          <strong>@currency(schedule.totalInterestCharged)</strong>
          <div class="form-hint form-hint--small">@Messages("ssttp.calculator.results.interest-added-to-final")</div>
        </div>
      </div>
      <div class="subsection grid-layout">
        <div class="grid-layout__column grid-layout__column--1-2">
        @Messages("ssttp.arrangement.instalment-summary.total-repayment")
        </div>
        <div class="grid-layout__column grid-layout__column--1-2">
          <strong>@currency(schedule.totalPayable)</strong>
          <div class="form-hint form-hint--small">@Messages("ssttp.arrangement.direct-debit.assistance.total.hint")</div>
        </div>
      </div>
    </div>
  </section>
  @if(!showErrorNotification) {
    <p><a class="back-link" href="@routes.DirectDebitController.getDirectDebit()">@Messages("ssttp.arrangement.direct-debit.assistance.back")</a></p>
  }
}