@*
Time To Pay Direct Debit Form Page

@param schedule PaymentSchedule The results data to display

*@
@import uk.gov.hmrc.selfservicetimetopay.models.ArrangementDirectDebit
@(ddForm:Form[ArrangementDirectDebit])(implicit request: Request[_])

@import selfservicetimetopay.partials.{having_problems_sidebar, direct_debit_fields}
@import selfservicetimetopay.helpers.{highlight, alert, message_list}
@import selfservicetimetopay.helpers.forms.{form, formErrorSummary, submit}
@import uk.gov.hmrc.selfservicetimetopay.controllers.routes

@selfservicetimetopay.main(
  title = Messages("ssttp.common.title"),
  bodyClasses = None,
  sidebarLinks = Some(having_problems_sidebar())
){
  <section>
    <header class="page-header text">
      <h2>@Messages("ssttp.arrangement.direct-debit.form.title")</h2>
    </header>

    @form(routes.DirectDebitController.submitDirectDebit()) {
      @formErrorSummary(Messages("ssttp.arrangement.direct-debit.form.error.summary.title"), ddForm, Seq.empty)
      <br>
      <h2 class="heading-h2">@Messages("ssttp.arrangement.direct-debit.form.bank-details")</h2>
      @direct_debit_fields(ddForm, ddForm("accountName"), ddForm("sortCode"), ddForm("accountNumber"))
      @submit(){@Messages("ssttp.arrangement.direct-debit.form.submit")}
      <p>&nbsp;</p>
    }
  </section>

  @highlight('_modifierClass -> "highlight-message--light") {
    <p>@Messages("ssttp.direct-debit.form.confirmation.header")</p>
  }
  @alert('_modifierClass -> "alert--info alert--info__light") {
    @message_list(Some("bullets"), "ssttp.direct-debit.form.confirmation.list.")
  }
}

