@*
Time To Pay Direct Debit Conformation Display Page

@param schedule CalculatorPaymentSchedule The results data to display
@param directDebit CalculatorDirectDebit The direct debit details

*@
@import uk.gov.hmrc.selfservicetimetopay.models.{CalculatorPaymentSchedule, ArrangementDirectDebit}
@(schedule:CalculatorPaymentSchedule, directDebit:ArrangementDirectDebit)(implicit request: Request[_])

@import selfservicetimetopay.helpers.{alert, message_list}
@import selfservicetimetopay.helpers.forms.{form, submit}
@import selfservicetimetopay.partials.currency
@import uk.gov.hmrc.selfservicetimetopay.controllers.{routes => ssttpRoutes}
@import selfservicetimetopay.partials.{direct_debit_details, payment_schedule, direct_debit_guarantee}

@selfservicetimetopay.main(
  title = Messages("ssttp.common.title"),
  bodyClasses = None,
  sidebarLinks = None
){
    <h1>@Messages("ssttp.arrangement.direct-debit.confirmation.title")</h1>
    <section>
        @direct_debit_details(directDebit)
        <div class="subsection">
            @payment_schedule(schedule)
            <div class="subsection text--right">
                @Messages("ssttp.arrangement.direct-debit.confirmation.total-payment")
                <strong>@currency(schedule.totalPayable)</strong>
            </div>
        </div>
    </section>

    <section>
        <details>
            <summary>@Messages("ssttp.arrangement.direct-debit.confirmation.bank-instruction.summary")</summary>
            <div class="panel-indent">
                <h3>@Messages("ssttp.arrangement.direct-debit.confirmation.bank-instruction.title")</h3>
                @message_list(None, "ssttp.arrangement.direct-debit.confirmation.bank-instruction.address.")
                @message_list(None, "ssttp.arrangement.direct-debit.confirmation.bank-instruction.phone.")
                <p><strong>@Messages("ssttp.arrangement.direct-debit.confirmation.bank-instruction.service-user.label")</strong>
                    @Messages("ssttp.arrangement.direct-debit.confirmation.bank-instruction.service-user.number")</p>
                <p><span class="font-xsmall">@Messages("ssttp.arrangement.direct-debit.confirmation.bank-instruction.text")</span></p>
                <p><strong>@Messages("ssttp.arrangement.direct-debit.confirmation.bank-instruction.do-not-send-to-bank")</strong></p>
            </div>
        </details>
        @alert(){@Messages("ssttp.arrangement.direct-debit.confirmation.bank-instruction.please-check")}
        @form(ssttpRoutes.ArrangementController.submit(), 'class -> "group"){
            @submit(){@Messages("ssttp.arrangement.direct-debit.confirmation.confirm-payment")}
        }
        <div>&nbsp;</div>
        <div><a class="back-link" href="@ssttpRoutes.DirectDebitController.getDirectDebit()">@Messages("ssttp.calculator.form.back")</a></div>
    </section>

    <div class="divider--bottom"></div>
    @direct_debit_guarantee()
}

