@*
Time To Pay Instalment Summary Display Page

@param debits Seq[Debit] The debits being paid by this plan
@param schedule CalculatorPaymentSchedule The results data to display
@param dayForm Form[ArrangementDayOfMonth] For for day of month selection for direct debit

*@
@*
Time To Pay Instalment Summary Pretty Print Page
@param schedule CalculatorPaymentSchedule The results data to display
*@
@import uk.gov.hmrc.selfservicetimetopay.models.{CalculatorPaymentSchedule,ArrangementDayOfMonth,Debit}
@(debits:Seq[Debit], schedule: CalculatorPaymentSchedule, dayForm: Form[ArrangementDayOfMonth], signedIn: Boolean = false)(implicit messages: play.api.i18n.Messages, request: Request[_])
@import selfservicetimetopay.partials.{payment_schedule, currency, day_ordinal, gaDoCheckout}
@import selfservicetimetopay.helpers.{highlight, alert, message_list}
@import selfservicetimetopay.helpers.forms.{form, inlinetextinput, submit}
@import uk.gov.hmrc.selfservicetimetopay.controllers.routes
@gaCheckoutCode = {
    @gaDoCheckout(debits = debits,
        step = 1,
        revenue = schedule.totalPayable,
        initialPayment = Some(schedule.initialPayment),
        interest = schedule.totalInterestCharged,
        duration = schedule.instalments.length,
        regularPayment = schedule.instalments.head.amount
    )
}
@selfservicetimetopay.main(
        title = Messages("ssttp.arrangement.instalment-summary.title"),
        googleAnalyticsCalls = Seq(gaCheckoutCode.body.seq),
        loggedIn = signedIn
    ) {
       <header class="page-header text">
           <p><a href="javascript:window.print()" class="js-visible no-print float--right  print-link js-visible trackedPrintLink">@Messages("ssttp.arrangement.instalment-summary.print")</a></p>
            <h1>@Messages("ssttp.arrangement.instalment-summary.title")</h1>
        </header>
        <section class="alterBottom">
            <div class="subsection grid-layout">
                    @payment_schedule(schedule)
            </div>
            <p>@Messages("ssttp.arrangement.instalment-summary.payment-day.taken-on")
                <strong>@Messages("ssttp.arrangement.instalment-summary.payment-day.day-of-month", day_ordinal(schedule.instalments.head.paymentDate.getDayOfMonth))</strong>
                @Messages("ssttp.arrangement.instalment-summary.payment-day.next-working-day")</p>

            <details @if(dayForm.hasErrors) { open}>
                <summary>@Messages("ssttp.arrangement.instalment-summary.payment-day.change")</summary>
                <div class="panel-indent">
                    @form(routes.ArrangementController.changeSchedulePaymentDay(), 'id -> "arrangementPaymentDayForm") {
                        @inlinetextinput(dayForm("dayOfMonth"),
                            'label -> Messages("ssttp.arrangement.instalment-summary.payment-day.change.take-payment-on"),
                            '_labelClass -> "label--inline", '_inputClass -> "input--xsmall",
                            'labelSuffix -> Messages("ssttp.arrangement.instalment-summary.payment-day.change.of-the-month"))
                        @submit('_buttonClass -> "button--secondary") {
                            @Messages("ssttp.arrangement.instalment-summary.payment-day.submit")
                        }
                    }
                </div>
            </details>
        </section>
        <section>
            @alert('_modifierClass -> "alert--info alert--info__light") {
                @Messages("ssttp.arrangement.instalment-summary.terms.cancelled-if")
                @message_list(Some("bullets"), "ssttp.arrangement.instalment-summary.terms.cancelled-if.")
                <div class="subsection">@Messages("ssttp.arrangement.instalment-summary.terms.made-payable-immediately")</div>
                <div class="subsection">@Messages("ssttp.arrangement.instalment-summary.terms.refunds")</div>
                <div class="subsection">@Messages("ssttp.arrangement.instalment-summary.terms.interest-change")</div>
                <div class="subsection">@Messages("ssttp.arrangement.instalment-summary.terms.future-debts")</div>
            }
            @form(routes.ArrangementController.submitInstalmentSummary()) {
                @submit() {
                    @Messages("ssttp.arrangement.instalment-summary.submit")
                }
            }
        </section>
        <div>&nbsp;</div>
        <div><a class="back-link" href="@routes.CalculatorController.getCalculateInstalments(None)">@Messages("ssttp.calculator.form.back")</a></div>

    }

