@*
Time To Pay Instalment Summary Display Page

@param schedule CalculatorPaymentSchedule The results data to display
@param dayForm Form[ArrangementDayOfMonth] For for day of month selection for direct debit

*@
@import uk.gov.hmrc.selfservicetimetopay.models.CalculatorPaymentSchedule
@import uk.gov.hmrc.selfservicetimetopay.models.ArrangementDayOfMonth
@(schedule:CalculatorPaymentSchedule, dayForm:Form[ArrangementDayOfMonth])(implicit request: Request[_])
@import selfservicetimetopay.helpers.{highlight, alert, message_list}
@import selfservicetimetopay.helpers.forms.{form, inlinetextinput, submit}
@import uk.gov.hmrc.selfservicetimetopay.controllers.routes
@selfservicetimetopay.main(
  title = Messages("ssttp.common.title"),
  bodyClasses = None,
  sidebarLinks = Some(selfservicetimetopay.partials.sidebar())
){
    <a href="javascript:window.print()" class="float--right gutter-left print-link print-hidden js-visible">@Messages("ssttp.arrangement.instalment-summary.print")</a>
    <h1 style="heading-h1">@Messages("ssttp.arrangement.instalment-summary.title")</h1>
    <section class="section">
        <div class="subsection grid-layout">
            <div class="grid-layout__column grid-layout__column--1-2">
                @Messages("ssttp.arrangement.instalment-summary.initial-payment-of")
            </div>
            <div class="grid-layout__column grid-layout__column--1-2">
                <strong>@Messages("ssttp.common.currency.symbol")@schedule.initialPayment</strong>
                <div class="form-hint form-hint--small">@Messages("ssttp.arrangement.instalment-summary.initial-payment.hint", 5)</div>
            </div>
        </div>
        <div class="subsection grid-layout divider--bottom">
            <div class="grid-layout__column grid-layout__column--1-2">
                <strong>@schedule.instalments.length</strong> @Messages("ssttp.arrangement.instalment-summary.monthly-instalments")
            </div>
            <div class="grid-layout__column grid-layout__column--1-2">
                <strong>@Messages("ssttp.common.currency.symbol")@schedule.instalments.head.amount</strong>
            </div>
        </div>
        <div class="subsection grid-layout">
            <div class="grid-layout__column grid-layout__column--1-2">
                @Messages("ssttp.arrangement.instalment-summary.total-repayment")
            </div>
            <div class="grid-layout__column grid-layout__column--1-2">
                <strong>@Messages("ssttp.common.currency.symbol")@schedule.totalPayable</strong>
            </div>
        </div>
    </section>
    <section class="section">
        <p>@Messages("ssttp.arrangement.instalment-summary.payment-day.taken-on") <strong>@Messages("ssttp.arrangement.instalment-summary.payment-day.day-of-month", schedule.instalments.head.paymentDate.getDayOfMonth)</strong> @Messages("ssttp.arrangement.instalment-summary.payment-day.next-working-day")
        <details@if(dayForm.hasErrors){ open}>
            <summary class="summary">@Messages("ssttp.arrangement.instalment-summary.payment-day.change")</summary>
            @form(routes.ArrangementController.scheduleSummaryDayOfMonthSubmit()){
                @inlinetextinput(dayForm("dayOfMonth"), 'label -> Messages("ssttp.arrangement.instalment-summary.payment-day.change.take-payment-on"),
                    '_labelClass -> "label--inline", '_modifierClass -> "input--xsmall",
                    'labelSuffix -> Messages("ssttp.arrangement.instalment-summary.payment-day.change.of-the-month"))
                @submit(Messages("ssttp.arrangement.instalment-summary.payment-day.submit"))
            }
        </details>
    </section>
    <section class="section">
        @highlight('_modifierClass -> "highlight-message--light") {
            <p>@Messages("ssttp.arrangement.instalment-summary.terms.warning")</p>
        }
        @alert('_modifierClass -> "alert--info alert--info__light") {
            @Messages("ssttp.arrangement.instalment-summary.terms.cancelled-if")
            @message_list(Some("bullets"), "ssttp.arrangement.instalment-summary.terms.cancelled-if.")
            <div class="subsection">@Messages("ssttp.arrangement.instalment-summary.terms.made-payable-immidiately")</div>
            <div class="subsection">@Messages("ssttp.arrangement.instalment-summary.terms.future-debts")</div>
        }
    </section>
    @form(routes.ArrangementController.scheduleSummarySubmit()){
        @submit(Messages("ssttp.arrangement.instalment-summary.submit"))
    }
}

