.page-header h1 {
    font-size: 36px;
    margin-top: 15px;
}

.page-header h1.h1-heading {
    font-size: 48px;
}

.print-only{
    display: none;
}

 /* GitHub Bug: Make <details> arrow work in Firefox */
  details summary {
    display: list-item !important;
 }
  .alterBottom {
      margin-bottom: 19px;
      padding-bottom: 19px;
  }
  .removeBottom{
      margin-bottom: 0px;
  }
@media print {
    .no-print {
        display: none;
    }

    .print-only{
        display: block;
    }
}
.sortcode {
    margin:0;
    display: inline-block;
}
.visually-hidden{
    display: None;
}

.container {
    float:left;
    white-space: nowrap;
}
.ssttp-summary{

}
summary.ssttp-summary-app-complete{
    width: 200px;
}

fieldset.container{
    margin-bottom: 14.25px;
}
ul.container{
    margin: 0px;!important;
}

.ssttp-grid-layout-padding-above {
    margin-top: -10px;
}

