.page-header h1 {
    font-size: 36px;
}

.page-header h1.h1-heading {
    font-size: 48px;
}

.print-only{
    display: none;
}
 /* GitHub Bug: Make <details> arrow work in Firefox */
  details summary {
    display: list-item !important;
 }

@media print {
    .no-print {
        display: none;
    }

    .print-only{
        display: block;
    }
}
