.page-header h1 {
    font-size: 36px;
    margin-top: 15px;
}

.page-header h1.h1-heading {
    font-size: 48px;
}

.ssttp-grid-layout-payment-today {
    width: 39%;
}

.print-only{
    display: none;
}
 /* GitHub Bug: Make <details> arrow work in Firefox */
  details summary {
    display: list-item !important;
 }

@media print {
    .no-print {
        display: none;
    }

    .print-only{
        display: block;
    }
}

.ssttp-grid-layout-padding-above {
    margin-top: -10px;
}