@import uk.gov.hmrc.selfservicetimetopay.models.EligibilityExistingTTP
@(dataForm: Form[EligibilityExistingTTP])(implicit request: Request[_])
@import uk.gov.hmrc.selfservicetimetopay.controllers.routes
@import selfservicetimetopay.helpers.forms._
@import selfservicetimetopay.partials.sidebar
@selfservicetimetopay.main(
    title = Messages("ssttp.common.title"),
    bodyClasses = None,
    sidebarLinks = Some(sidebar())
) {
    <header class="page-header text">
        <h1 class="h1-heading">@Messages("ssttp.eligibility.form.existing_ttp.title")</h1>
    </header>
    @form(routes.EligibilityController.submitExistingTtp(), 'class -> "group") {
        @formErrorSummary(Messages("ssttp.eligibility.form.existing_ttp.error.summary.title"), dataForm, Seq.empty)
        @radiobuttons(dataForm("hasExistingTTP"), Seq(
            "true" -> Messages("ssttp.eligibility.form.existing_ttp.question.yes"),
            "false" -> Messages("ssttp.eligibility.form.existing_ttp.question.no")
        ),
            '_label -> Html(Messages("ssttp.eligibility.form.existing_ttp.question")),
            '_groupClass -> "form-field",
            '_labelClass -> "block-label block-label--inline"
        ) {
            <h3 class="h3-heading">@Messages("ssttp.eligibility.form.existing_ttp.question.prompt")</h3>
        }
        @submit(){@Messages("ssttp.eligibility.form.continue")}
    }
    <p><a class="back-link" href="@routes.EligibilityController.getTypeOfTax()">@Messages("ssttp.eligibility.form.back")</a></p>
}
