@*
    Self Service Time to Pay eligibility page - ask user what kind of tax debts they have to pay
*@
@import uk.gov.hmrc.selfservicetimetopay.models.EligibilityTypeOfTax
@(dataForm: Form[EligibilityTypeOfTax], loggedIn: Boolean = false)(implicit request: Request[_])
@import uk.gov.hmrc.selfservicetimetopay.controllers.routes
@import selfservicetimetopay.helpers.forms._
@selfservicetimetopay.main(
    title = Messages("ssttp.common.title"),
    loggedIn = loggedIn
){
  <header class="page-header text">
    <h2>@Messages("ssttp.eligibility.form.type_of_tax.title")</h2>
  </header>
  @form(routes.EligibilityController.submitTypeOfTax(), 'class -> "group") {
    @formErrorSummary(Messages("ssttp.eligibility.form.type_of_tax.error.summary.title"), dataForm, Seq.empty)
    @fieldset(dataForm, "type_of_tax", '_modifierClass -> "form-field-group") {
      <legend class="flush--ends">@Messages("ssttp.eligibility.form.type_of_tax.question.prompt")</legend>
        <p/>
      <p class="flush--ends form-field--hint">@Messages("ssttp.eligibility.form.type_of_tax.question.hint")</p>
      @formErrors(dataForm, '_field ->"type_of_tax")
      @checkbox(field = dataForm("type_of_tax.hasSelfAssessmentDebt"),
          label = Option(Html(Messages("ssttp.eligibility.form.type_of_tax.question.self-assessment"))),
          '_modifierClass -> "--single",
          '_labelClass -> "block-label"
      )
      @checkbox(field = dataForm("type_of_tax.hasOtherDebt"),
          label = Option(Html(Messages("ssttp.eligibility.form.type_of_tax.question.other"))),
          '_modifierClass -> "--single",
          '_labelClass -> "block-label"
    )
    }
    @submit(){@Messages("ssttp.eligibility.form.continue")}
  }
  <p><a class="back-link" href="@routes.SelfServiceTimeToPayController.start()">@Messages("ssttp.eligibility.form.back")</a></p>
}

