@*
* Copyright 2021 HM Revenue & Customs
*
*@

@import config.ViewConfig

@this(
        timeoutDialogue: uk.gov.hmrc.hmrcfrontend.views.html.helpers.hmrcTimeoutDialogHelper,
)

@(isLoggedIn: Boolean)(implicit r: Request[_], m: Messages, viewConf: ViewConfig)



@timeoutDialogue(
    signOutUrl = routes.TimeoutController.killSession().url,
    keepAliveUrl = Some(controllers.routes.TimeoutController.keepAliveSession().url),
    timeout = Some(viewConf.timeoutDialogTimeout),
    countdown = Some(viewConf.timeoutDialogCountdown),
    title = None,
    message = Some { if (isLoggedIn) Messages("timeoutDialog.message.logged-in") else Messages("timeoutDialog.message.logged-out") },
    keepAliveButtonText = Some { if (isLoggedIn) Messages("timeoutDialog.keep-alive-button-text.logged-in") else Messages("timeoutDialog.keep-alive-button-text.logged-out") },
    signOutButtonText = Some { if (isLoggedIn) Messages(s"timeoutDialog.sign-out-button-text.logged-in") else Messages("timeoutDialog.sign-out-button-text.logged-out") }
)