@*
   Partial view to display the direct debit details in a 2 column type layout
*@
@(ddForm:Form[_], accountNameField:Field, sortCodeField:Field, accountNumberField:Field)(implicit messages: play.api.i18n.Messages)
@import selfservicetimetopay.helpers.forms.textinput
@textinput(accountNameField,
    'label -> Messages("ssttp.direct-debit.form.accountName"),
    '_maxlength -> "39",
    '_inputClass -> "input--cleared"
)
@textinput(sortCodeField,
    'label -> Messages("ssttp.direct-debit.form.sortCode"),
    'hint -> Messages("ssttp.direct-debit.form.sortCode.hint"),
    '_maxlength -> "6",
    '_inputClass -> "input--small input--cleared input--no-spinner"
)
@textinput(accountNumberField,
    'label -> Messages("ssttp.direct-debit.form.accountNumber"),
    '_maxlength -> "8",
    '_inputClass -> "input--cleared input--no-spinner input--small"
    )
