@*
   Partial view to display the direct debit details in a 2 column type layout
*@
@(ddForm:Form[_], accountNameField:Field, sortCodeField:Field, accountNumberField:Field)
@import selfservicetimetopay.helpers.forms.{textinput, numberinput}
@textinput(accountNameField,
    'label -> Messages("ssttp.direct-debit.form.accountName"),
    '_inputClass -> "input--cleared"
)
@textinput(sortCodeField,
    'label -> Messages("ssttp.direct-debit.form.sortCode"),
    '_inputClass -> "input--small input--cleared input--no-spinner"
)
@numberinput(accountNumberField,
    'label -> Messages("ssttp.direct-debit.form.accountNumber"),
    '_inputClass -> "input--cleared input--no-spinner"
)
