@*
   Partial view to display the direct debit guarantee
*@
@()
@import selfservicetimetopay.helpers.message_list
@import uk.gov.hmrc.play.config.AssetsConfig
<section class="divider--top">
    <div class="grid-layout__column grid-layout__column--3-4">
        <h3>@Messages("ssttp.direct-debit.guarantee.title")</h3>
    </div>
    <div class="grid-layout__column grid-layout__column--1-4">
        <h3><img src="@{AssetsConfig.assetsPrefix}/images/direct-debit-logo-2x.png" width="148px" height="60px"></h3>
    </div>
    @message_list(Some("bullets"), "ssttp.direct-debit.guarantee.list.", '_itemClass -> "font-xsmall")
</section>