@*
Partial view to display the direct debit details in a 2 column type layout
*@
@(ddForm: Form[_], accountNameField: Field, sortCodeField1: Field,sortCodeField2: Field, sortCodeField3: Field, accountNumberField: Field)(implicit messages: play.api.i18n.Messages)
@import selfservicetimetopay.helpers.forms.textinput
@textinput(accountNameField,
    'label -> Messages("ssttp.direct-debit.form.accountName"),
    '_maxlength -> "39",
    '_inputClass -> "input--cleared"

)
<p><label>Sort Code</label></p>
<fieldset class="container">
    <div class = "sortcode">
    @textinput(sortCodeField1,
        '_maxlength -> "2",
        '_inputClass -> "input--xxsmall input--cleared input--no-spinner"
    )
        -
    </div>
    <div class="sortcode">
    @textinput(sortCodeField2,
        '_maxlength -> "2",
        '_inputClass -> "input--xxsmall input--cleared input--no-spinner"
    )
        -
    </div>
    <div class="sortcode">
    @textinput(sortCodeField3,
        '_maxlength -> "2",
        '_inputClass -> "input--xxsmall input--cleared input--no-spinner"
    )
            &nbsp;
    </div>
</fieldset>
@textinput(accountNumberField,
    'label -> Messages("ssttp.direct-debit.form.accountNumber"),
    '_maxlength -> "8",
    '_inputClass -> "input--cleared input--no-spinner input--normal"
)
