@*
   Partial view to display the direct debit details in a 2 column type layout

    @param directDebit ArrangementDirectDebit Direct debit details to show
    @param print Boolean set to true to make a print friendly version with all the details in a single column layout
*@
@import uk.gov.hmrc.selfservicetimetopay.models.ArrangementDirectDebit
@(directDebit:ArrangementDirectDebit, print:Boolean = false)
<div class="section">
    <div class="subsection grid-layout divider--bottom font-xsmall">
        <div class="grid-layout__column grid-layout__column--3-4">
            <strong>@Messages("ssttp.direct-debit.account-name")</strong>
        </div>
        <div class="grid-layout__column grid-layout__column--1-4">
            @directDebit.accountName
        </div>
    </div>
    <div class="subsection grid-layout divider--bottom font-xsmall">
        <div class="grid-layout__column grid-layout__column--3-4">
            <strong>@Messages("ssttp.direct-debit.account-number")</strong>
        </div>
        <div class="grid-layout__column grid-layout__column--1-4">
            @directDebit.accountNumber
        </div>
    </div>

    <div class="subsection grid-layout divider--bottom font-xsmall">
        <div class="grid-layout__column grid-layout__column--3-4">
            <strong>@Messages("ssttp.direct-debit.sort-code")</strong>
        </div>
        <div class="grid-layout__column grid-layout__column--1-4">
            @directDebit.formatSortCode
        </div>
    </div>
</div>
