@* Google Analytics code to report a checkout

    @param debits Seq[Debit] list of debits to create as productsdefining
    @param step Int Step of the checkout funnel configured in GA
    @revenue BigDecimal total paid on this payment plan, (debits+interest)
    @param initialPayment Option[BigDecimal] Initial payment if specified yet otherwise none
    @param interest BigDecimal  Interest paid for the payment plan
    @param duration Int duration of the payment plan
    @param regularPayment BigDecimal the monthly payment for the payment plan
*@
@import uk.gov.hmrc.selfservicetimetopay.models.Debit
@(debits:Seq[Debit],
    step:Int,
    revenue: BigDecimal,
    initialPayment:Option[BigDecimal],
    interest: BigDecimal,
    duration: Int,
    regularPayment: BigDecimal
)(implicit messages: play.api.i18n.Messages)
@import selfservicetimetopay.partials.gaAmountDueProduct

@initialPaymentMetric = {@uk.gov.hmrc.selfservicetimetopay.config.SsttpFrontendConfig.initialPaymentMetric}
@interestMetric = {@uk.gov.hmrc.selfservicetimetopay.config.SsttpFrontendConfig.interestMetric}
@durationMetric = {@uk.gov.hmrc.selfservicetimetopay.config.SsttpFrontendConfig.durationMetric}
@regularPaymentMetric = {@uk.gov.hmrc.selfservicetimetopay.config.SsttpFrontendConfig.regularPaymentMetric}
@monthlyDueDateMetric = {@uk.gov.hmrc.selfservicetimetopay.config.SsttpFrontendConfig.monthlyDueDateMetric}

@Html(debits.zipWithIndex.map(a => gaAmountDueProduct(a._1, a._2)).seq.mkString)

ga('ec:setAction','checkout',
    { 'step': @step,
    'revenue': '@revenue',
    '@initialPaymentMetric': '@initialPayment',
    '@interestMetric': '@interest',
    '@durationMetric': '@duration',
    '@regularPaymentMetric': '@regularPayment'});
