@* Google Analytics code to report a complete transaction

    @param debits Seq[Debit] list of debits to create as productsdefining
    @param step Int Step of the checkout funnel configured in GA
    @revenue BigDecimal total paid on this payment plan, (debits+interest)
    @param initialPayment Option[BigDecimal] Initial payment if specified yet otherwise none
    @param interest BigDecimal  Interest paid for the payment plan
    @param duration Int duration of the payment plan
    @param regularPayment BigDecimal the monthly payment for the payment plan
    @
*@
@import uk.gov.hmrc.selfservicetimetopay.models.Debit
@(debits:Seq[Debit],
    id:String,
    revenue: BigDecimal,
    initialPayment:Option[BigDecimal],
    interest: BigDecimal,
    duration: Int,
    regularPayment: BigDecimal
)
@import selfservicetimetopay.partials.gaAddProducts
@gaAddProducts(debits, initialPayment, Some((duration, interest)))
ga('ec:setAction', 'purchase', { 'id': '@id', 'revenue': '@revenue', 'metric1': '@initialPayment', 'metric2': '@interest', 'metric3': '@duration', 'metric4': '@regularPayment'});
