@()
<div class="section--blue-top sidebar--hidden-sm">
    <h3 class="heading-small">@Messages("ssttp.sidebar.help-and-advice.title")</h3>
    <p class="font-xsmall">@Messages("ssttp.sidebar.help-and-advice.intro")</p>
    <nav class="service_info__navigation" role="navigation" aria-labelledby="parent-subsection">
        <ul>
            <li class="font-xsmall"><a href="https://www.gov.uk/pay-self-assessment-tax-bill/" class="trackedOutboundLink">@Messages("ssttp.sidebar.help-and-advice.ways-to-pay")</a></li>
            <li class="font-xsmall"><a href="https://www.gov.uk/understand-self-assessment-bill/payments-on-account" class="trackedOutboundLink">@Messages("ssttp.sidebar.help-and-advice.payments-on-account")</a></li>
            <li class="font-xsmall"><a href="https://www.gov.uk/if-you-dont-pay-your-tax-bill/overview" class="trackedOutboundLink">@Messages("ssttp.sidebar.help-and-advice.dont-pay")</a></li>
        </ul>
    </nav>
</div>
