@*
    Partial view to show list of direct debit payments in the payment schedule
*@
@import uk.gov.hmrc.selfservicetimetopay.models.CalculatorPaymentSchedule
@(schedule:CalculatorPaymentSchedule)
@import java.time.format.DateTimeFormatter
@import selfservicetimetopay.partials.currency
@import java.util.Locale

@defining(DateTimeFormatter.ofPattern("dd MMMM yyyy", Locale.ENGLISH)) { formatter =>
    @schedule.instalments.map { instalment =>
        <div class="subsection grid-layout divider--bottom font-xsmall">
            <div class="grid-layout__column grid-layout__column--3-4"><strong>@instalment.paymentDate.format(formatter)</strong>
                @if(instalment == schedule.instalments.head) {
                    @Messages("ssttp.arrangement.instalment-summary.schedule.initial-payment")
                } else {
                    @if(instalment == schedule.instalments.last) {
                        @Messages("ssttp.arrangement.instalment-summary.schedule.final-payment")
                    }
                }
            </div>
            <div class="grid-layout__column grid-layout__column--1-4">@currency(instalment.amount)</div>
        </div>
    }
}
