@*
    Partial view to show list of direct debit payments in the payment schedule
*@
@import uk.gov.hmrc.selfservicetimetopay.models.CalculatorPaymentSchedule
@(schedule:CalculatorPaymentSchedule)
@import java.time.format.DateTimeFormatter
@import java.time.LocalDate
@import selfservicetimetopay.partials.currency
@import java.util.Locale

@defining(DateTimeFormatter.ofPattern("dd MMMM yyyy", Locale.ENGLISH)) { formatter =>
     @if(schedule.initialPayment > BigDecimal(0)) {
         <div class="subsection grid-layout divider--bottom font-xsmall">
             <div class="grid-layout__column grid-layout__column--3-4"><strong>@LocalDate.now.plusWeeks(1).format(formatter)</strong>
                    @Messages("ssttp.arrangement.instalment-summary.schedule.initial-payment")
             </div>
             <div class="grid-layout__column grid-layout__column--1-4">@currency(schedule.initialPayment)</div>
         </div>
     }
    @schedule.instalments.map { instalment =>
        <div class="subsection grid-layout divider--bottom font-xsmall">
            <div class="grid-layout__column grid-layout__column--3-4"><strong>@instalment.paymentDate.format(formatter)</strong>
                @if(instalment == schedule.instalments.last) {
                    @Messages("ssttp.arrangement.instalment-summary.schedule.final-payment")
                }
            </div>
            <div class="grid-layout__column grid-layout__column--1-4">@currency(instalment.amount)</div>
        </div>
    }
}
