@()
<div class="service-info__related-subsection">
    <h2>Dealing with HMRC</h2>
    <nav class="service_info__navigation" role="navigation" aria-labelledby="parent-subsection">
        <ul>
            <li><a href="/if-you-dont-pay-your-tax-bill">If you don't pay your tax bill</a></li>
            <li class="font-xsmall"><a href="/browse/tax/dealing-with-hmrc" class="link--no-underline">More <span class="visuallyhidden">in Dealing with HMRC</span></a></li>
        </ul>
    </nav>
</div>
<div class="service-info__related-subsection">
    <h2>Money and tax</h2>
    <nav class="service_info__navigation" role="navigation" aria-labelledby="parent-subsection">
        <ul>
            <li><a href="/self-assessment-tax-returns">Self Assessment tax returns</a></li>
            <li class="font-xsmall"><a href="/browse/tax" class="link--no-underline">More <span class="visuallyhidden">in Money and tax</span></a></li>
        </ul>
    </nav>
</div>