@*
A data input field using Component Library Styles as  documented:
    Label: http://hmrc.github.io/assets-frontend/section-label.html
    Input http://hmrc.github.io/assets-frontend/section-text-input.html

    @param field Field The form field the input value represents
    @param args options arguments for the template
            'label -> Text for the field label
            'hint -> Hint for the combined date field group
            'dayLabel -> Text to use for day field (default empty)
            'monthLabel -> Text to use for month field (default empty)
            'yearLabel -> Text to use for year field (default empty)
            '_labelClass -> Label Modifier class
            '_modifierClass -> Modifier class for the input class, includes:
                input--xxsmall, input--xsmall, input--small,  input--normal,
                input--fullwidth, input--no-spinner, input--cleared,
                input--link
            '_inputGroupClass -> Modifier class to apply to the group of all three date fields
*@
@(name: String, frm:Form[_], yearField: Field, monthField: Field, dayField: Field, args: (Symbol, String)*)(implicit lang: Lang = Lang("en"))
@import views.html.helper.FieldElements
@import views.html.helpers.forms.{formErrors, fieldset, textinput}
@argsMap = @{ args.toMap }
@dayElements = @{ new FieldElements(dayField.id, dayField, null, argsMap, lang) }
@monthElements = @{ new FieldElements(monthField.id, monthField, null, argsMap, lang) }
@yearElements = @{ new FieldElements(yearField.id, yearField, null, argsMap, lang) }
@fieldset(frm, name){
    @if(argsMap.get('label).isDefined){<legend>@argsMap.get('label)</legend>}
    @formErrors(frm, '_field -> name)
    <ul class="list--inline group">
        <li>@textinput(dayField, 'label -> argsMap.getOrElse('dayLabel, ""),
            '_labelClass -> "label--inline-tight",
            '_modifierClass -> "form-field--inline",
            '_inputClass -> "input--cleared input--xsmall")
        </li>
        <li>@textinput(monthField,
            'datalist -> Seq("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"),
            'label -> argsMap.getOrElse('monthLabel, ""),
            '_labelClass -> "label--inline-tight",
            '_modifierClass -> "form-field--inline",
            '_inputClass -> "input--cleared input--small input--no-spinner")
        </li>
        <li>@textinput(yearField,
            'label -> argsMap.getOrElse('yearLabel, ""),
            '_labelClass -> "label--inline-tight",
            '_modifierClass -> "form-field--inline",
            '_inputClass -> "input--cleared input--xsmall")
        </li>
    </ul>
    @if(argsMap.get('hint).isDefined) {
        <div class="form-hint form-hint--small float--left">@argsMap.get('hint)</div>
    }

}
