@*
 Render a set of radiobuttons using the HMRC Compnent Library Styles
 http://hmrc.github.io/assets-frontend/section-form.html
 http://hmrc.github.io/assets-frontend/section-radio-input.html
                                       
 @param field Field the form field to bind to
 @param optionsList Seq[(String, String)] Options to display for the field mapping value to label
 @param args Additional parameters:
    '_modifierClass -> Modifier class to apply to whole input div, can be one of [-tall, -single, --inline, --inline-text-input, --inline-spaced-right, --inline-spaced-left ]
    '_labelClass -> class to add to the label element as per http://hmrc.github.io/assets-frontend/section-label.html
    '_inputClass -> Class to add to the input element
 @param content Html the code used for the title of the radiobuttons if any
*@
@(field: Field, optionsList: Seq[(String, String)], args:(Symbol, Any)*)(content: Html)(implicit lang: Lang = Lang("en"))
@import views.html.helper.FieldElements
@import views.html.helpers.labelWrap
@import views.html.helpers.forms.fieldErrors
@elements = @{ new FieldElements(field.id, field, null, args.toMap, lang) }
@fieldValue = @{ field.value match { case Some(x) => x case None => "" case x => x }}
@fieldSetClass = @{ 
  var c = elements.args.getOrElse('_modifierClass, "").asInstanceOf[String].trim
  if (field.hasErrors) {
    c += " form-field-group--error"
  }
  c.trim
}
@defining({
  var classes = elements.args.getOrElse('_inputClass, "").toString
  if (field.hasErrors) {
    classes += " error-field"
  }
  classes
}) { inputClass =>
    <a name="@elements.field.name"></a>
    <fieldset @if(!fieldSetClass.isEmpty){ class="@fieldSetClass"}>
        @content
        <div class="form-field@if(elements.args.get('_modifierClass)){@elements.args.get('_modifierClass)} ">
          @fieldErrors(field)
          @optionsList.map { case (value, label) =>
            @defining(s"${elements.field.name}-${value.toLowerCase.replace(" ","_")}") { inputId =>
              @labelWrap('labelText -> label, '_modifierClass -> elements.args.get('_labelClass), 'for -> inputId){
                <input type="radio" id="@inputId" @if(!inputClass.isEmpty){class="@inputClass"}
                  name="@elements.field.name" value="@value"@if(fieldValue==value){ checked="checked"}/>
                }
            }
          }
        </div>
    </fieldset>
}

