@import uk.gov.hmrc.govukfrontend.views.Aliases.Button
@import uk.gov.hmrc.govukfrontend.views.Aliases.Text

@this(
        govukButton: uk.gov.hmrc.govukfrontend.views.html.components.govukButton
)

@(text: String = "", id: String = "continue")(implicit messages: play.api.i18n.Messages)

@govukButton(Button(
    inputType = Some("submit"),
    content = Text(if(text.nonEmpty) text else Messages("ssttp.common.continue")),
    attributes = Map("id" -> id),
    classes = "govuk-!-display-none-print"
))