@*
Add a Label around some HTML as per Component Library:
    http://hmrc.github.io/assets-frontend/section-label.html

@param args options arguments for the template
    'labelText          -> The text to use as the label
    'for                -> Specify a value for the 'for' attribute
    '_modifierClass     -> Add a modifier class to the label as documented in Component Library including:
                            indent, bold,
                            label--inline, label-inline--tight, label--inline-right,
                            vertically-aligned-input, top-aligned-input,
                            block-label:hover, block-label--inline, block-label--inline-right, block-label--stacked,
                            form-date,
                            label--inlineRadio, label--inlineRadio--overhead, label--inlineRadio--overhead-wide, label--inlineRadio--expanded,
                            label--inlineDropDown
    
*@
@(args:(Symbol, Any)*)(content: => Html = Html(""))
@argsMap = @{ args.toMap }
<label@if(argsMap.get('_modifierClass)){ class="@argsMap.get('_modifierClass)"}@if(argsMap.get('for)){ for="@argsMap.get('for)"}>
    @argsMap.getOrElse('labelText, "")
    @content
</label>
