@import uk.gov.hmrc.selfservicetimetopay.models.CalculatorAmountsDue
@import uk.gov.hmrc.selfservicetimetopay.models.CalculatorAmountDue
@(amountsDue:CalculatorAmountsDue, dataForm: Form[CalculatorAmountDue])(implicit request: Request[_])
@import selfservicetimetopay.helpers.forms.{form, formErrorSummary, currencyinput, dateinput, submit}
@import uk.gov.hmrc.selfservicetimetopay.controllers.routes
@selfservicetimetopay.main(
    title = Messages("ssttp.common.title"),
    bodyClasses = None,
    sidebarLinks = Some(selfservicetimetopay.partials.sidebar())
){
    <header class="page-header text">
        <h1 class="h1-heading">@Messages("ssttp.calculator.form.amounts_due.title")</h1>
    </header>
    @form(routes.CalculatorController.amountsDueSubmit(), 'class -> "group") {
        @formErrorSummary(Messages("ssttp.calculator.form.amounts_due.error.summary.title"), dataForm, Seq.empty)
        @dataForm.errors
        <p>@Messages("ssttp.calculator.form.amounts_due.intro")</p>
          <div class="form-field--group bordered-box">
              <p>
                @currencyinput(dataForm("amount"),
                  'label -> Messages("ssttp.calculator.form.amounts_due.how_much.question"),
                  '_labelClass -> "label--inline",
                  '_inputClass -> "input--small input--no-spinner")
              </p>
              @dateinput("dueBy", dataForm, dataForm("dueByYear"), dataForm("dueByMonth"), dataForm("dueByDay"),
                  'label -> Messages("ssttp.calculator.form.amounts_due.when_due.question"),
                  'hint -> Messages("ssttp.calculator.form.amounts_due.when_due.question.hint"),
                  'dayLabel -> Messages("ssttp.calculator.form.amounts_due.when_due.question.day"),
                  'monthLabel -> Messages("ssttp.calculator.form.amounts_due.when_due.question.month"),
                  'yearLabel -> Messages("ssttp.calculator.form.amounts_due.when_due.question.year"),
                   '_inputGroupClass -> "gutter-left"
              )
        </div>
        <p>@submit(Messages("ssttp.calculator.form.continue"))</p>
    }
    <p><a class="back-link" href="@routes.SelfServiceTimeToPayController.present()">@Messages("ssttp.calculator.form.back")</a></p>
}
