@*
Time To Pay Payment Schedule Calculator Page

@param schedule The PaymentSchedule to show
@param monthOptions List of number of months available to pay over
@param debits Option[Seq[Debit]] list of tax debits from the user's SA account
@param loggedIn Boolean set to true if the user is authenticated, default false
*@
@import uk.gov.hmrc.selfservicetimetopay.models.Debit
@import uk.gov.hmrc.selfservicetimetopay.models.CalculatorDuration
@import uk.gov.hmrc.selfservicetimetopay.models.CalculatorPaymentToday
@import uk.gov.hmrc.selfservicetimetopay.models.CalculatorPaymentSchedule
@import play.twirl.api.HtmlFormat
@(schedule: CalculatorPaymentSchedule, debits: Option[Seq[Debit]], durationForm: Form[CalculatorDuration], paymentTodayAmountForm: Form[CalculatorPaymentToday], monthOptions: Seq[Int], loggedIn: Boolean)(implicit messages: play.api.i18n.Messages, request: Request[_])
    @import selfservicetimetopay.helpers.{message_list, pluralize, labelWrap}
    @import selfservicetimetopay.helpers.forms.{form, formErrorSummary, button, fieldErrors, numberinput, inlinecurrencyinput}
    @import selfservicetimetopay.partials.{currency, what_you_owe}
    @import selfservicetimetopay.calculator.{calculate_instalments_auth_footer, calculate_instalments_no_auth_footer}
    @import uk.gov.hmrc.selfservicetimetopay.controllers.routes
    @selfservicetimetopay.main(
        title = Messages("ssttp.calculator.results.title"),
        loggedIn = loggedIn
    ) {
        <a target="_blank" href="@routes.CalculatorController.getCalculateInstalmentsPrint()" class="float--right gutter-left print-link print-hidden js-visible trackedPrintLink">@Messages("ssttp.arrangement.instalment-summary.print")</a>
        <header class="page-header text">
            <h1>@Messages("ssttp.calculator.results.title")</h1>
        </header>
        @formErrorSummary(Messages("ssttp.error.summary.title"), paymentTodayAmountForm, Seq.empty)
        @formErrorSummary(Messages("ssttp.error.summary.title"), durationForm, Seq.empty)
        <section>
            <h2>@Messages("ssttp.calculator.results.heading.what-you-owe")</h2>
            <div class="subsection grid-layout divider--bottom">
                <div class="grid-layout__column grid-layout__column--1-2">@Messages("ssttp.calculator.results.you-owe")
                    @debits match {
                        case Some(debits: Seq[Debit]) => {
                            <details class="trackedDetails" id="calculatorWhatYouOweBreakdown">
                                <summary class="font-xsmall">@Messages("ssttp.calculator.results.you-owe.breakdown")</summary>
                                @what_you_owe(debits, true)
                            </details>
                        }
                        case _ => {}
                    }
                </div>
                <div class="grid-layout__column grid-layout__column--1-2">@currency(schedule.amountToPay)</div>
            </div>
            <div class="subsection divider--bottom grid-layout">
            @form(routes.CalculatorController.submitCalculateInstalmentsPaymentToday(), 'id -> "calculatorInitialPaymentForm") {
                @labelWrap(
                    'for -> "amount",
                    '_modifierClass -> (if(paymentTodayAmountForm("amount").errors.nonEmpty) "form-field--error" else "")
                ) {
                    <div class="grid-layout__column grid-layout__column--1-2">
                        @fieldErrors(paymentTodayAmountForm("amount"))
                        @Messages("ssttp.calculator.results.you-can-afford")
                    </div>
                    <div class="grid-layout__column grid-layout__column--1-2 align--middle no-wrap">
                        <span>@inlinecurrencyinput(paymentTodayAmountForm("amount"), '_hideErrors -> true, '_noLabel -> true, '_inputClass -> "input--small input--no-spinner")</span>
                            &nbsp;
                        @button('type -> "submit", '_modifierClass -> "button--secondary flush--sides") {
                            @Messages("ssttp.calculator.form.payment_today.update")
                        }
                    </div>
                }
            }
            </div>
            <div class="subsection grid-layout divider--bottom">
                <div class="grid-layout__column grid-layout__column--1-2">@Messages("ssttp.calculator.results.your-instalment-balance")</div>
                <div class="grid-layout__column grid-layout__column--1-2"><strong>@currency(schedule.instalmentBalance)</strong></div>
            </div>
        </section>
        <section>
            <h2>@Messages("ssttp.calculator.results.heading.your-instalments")</h2>
            @labelWrap('for -> "months", '_modifierClass -> {
                "label--full-length " + (if(durationForm("months").errors.nonEmpty) "form-field--error" else "")
            }) {
                <div class="subsection grid-layout divider--bottom flush--bottom">
                    <div class="grid-layout__column grid-layout__column--1-2"><ul class="list--inline">
                        <li>
                            @fieldErrors(durationForm("months"))
                            @Messages("ssttp.calculator.results.instalments-over")
                        </li>
                    </ul></div>
                    <div class="grid-layout__column grid-layout__column--1-2">
                        <ul class="list--inline">
                            <li>
                            @form(routes.CalculatorController.submitCalculateInstalments(), 'class -> "form-field--inline", 'id -> "calculatorDurationForm") {
                                @numberinput(durationForm("months"), '_hideErrors -> true, '_noLabel -> true, '_inputClass -> "input--xxsmall input--no-spinner")
                            }
                            </li>
                            <li>
                            @form(routes.CalculatorController.submitCalculateInstalments(), 'class -> "form-field--inline") {
                                <input type="hidden" name="@durationForm("months").name" value="@{
                                    schedule.instalments.length - 1
                                }" />
                                @defining({
                                        <span class="hidden" aria-label="">@Messages("ssttp.calculator.results.monthly-payments.decrease")</span>
                                }) { label =>
                                    @if(schedule.instalments.length != monthOptions.min) {
                                        @button('type -> "submit", 'id -> "calculatorDurationDecrease", '_modifierClass -> "button button--spaced flush--ends flush--left",'title ->"Decrease value") {
                                            <strong>@Messages("ssttp.calculator.results.monthly-payments.minus")</strong>
                                        }
                                    } else {
                                        <span class="button button--spaced flush--ends flush--left disabled"  aria-label="@Messages("ssttp.calculator.results.monthly-payments.decrease")" role="button">
                                            <strong>@Messages("ssttp.calculator.results.monthly-payments.minus")</strong>
                                        </span>
                                    }
                                }
                            }
                            </li>
                            <li>
                            @form(routes.CalculatorController.submitCalculateInstalments(), 'class -> "form-field--inline") {
                                <input type="hidden" name="@durationForm("months").name" value="@{
                                    schedule.instalments.length + 1
                                }" />
                                @defining({
                                        <span class="hidden">@Messages("ssttp.calculator.results.monthly-payments.increase")</span>
                                }) { label =>
                                    @if(schedule.instalments.length != monthOptions.max) {
                                        @button('type -> "submit",'id -> "calculatorDurationIncrease", '_modifierClass -> "button button--spaced flush-ends flush--left",'title ->"Increase value") {
                                            <strong>@Messages("ssttp.calculator.results.monthly-payments.plus")</strong>
                                        }
                                    } else {
                                        <span class="button button--spaced flush-ends flush--left disabled" aria-label="@Messages("ssttp.calculator.results.monthly-payments.increase")" role="button">
                                            <strong>@Messages("ssttp.calculator.results.monthly-payments.plus")</strong>
                                        </span>
                                    }
                                }
                            }
                            </li>
                        </ul>
                    </div>
                </div>
            }
            @defining(schedule.instalmentBalance) { payment =>
                <div class="subsection grid-layout divider--bottom">
                    <div class="grid-layout__column grid-layout__column--1-2">@Messages("ssttp.calculator.results.monthly-payments")</div>
                    <div class="grid-layout__column grid-layout__column--1-2"><strong>@currency(schedule.instalments.head.amount) @Messages("ssttp.calculator.results.monthly-payments.per-month")</strong></div>
                </div>
                <div class="subsection grid-layout divider--bottom">
                    <div class="grid-layout__column grid-layout__column--1-2">@Messages("ssttp.calculator.results.total-interest")
                        <div class="font-xsmall">@Messages("ssttp.calculator.results.monthly-payments.hint")</div>
                    </div>
                    <div class="grid-layout__column grid-layout__column--1-2 align--middle">@currency(schedule.totalInterestCharged)
                        <div class="font-xsmall">@Messages("ssttp.calculator.results.interest-added-to-final")</div>
                    </div>
                </div>
                <div class="subsection grid-layout divider--bottom">
                    <div class="grid-layout__column grid-layout__column--1-2">@Messages("ssttp.calculator.results.total-repayment")</div>
                    <div class="grid-layout__column grid-layout__column--1-2"><strong>@currency(schedule.totalPayable)</strong></div>
                </div>
            }
            <details class="trackedDetails" id="how-we-calculate-interest">
                <summary>@Messages("ssttp.calculator.results.interest-info.title")</summary>
                <p>@Messages("ssttp.calculator.results.interest-info.content")</p>
            </details>
        </section>
        @if(!loggedIn) {
            <div class="panel-indent">@Messages("ssttp.calculator.results.interest-info.warning")</div>
        }
        <section class="section">
            <p>@{
                if(loggedIn) {
                    calculate_instalments_auth_footer()
                } else {
                    calculate_instalments_no_auth_footer()
                }
            }</p>
            <br><br><br>
        </section>
        <p>@if(schedule.initialPayment.equals(BigDecimal(0))){<a class="back-link" href="@routes.CalculatorController.getPayTodayQuestion()">@Messages("ssttp.calculator.form.back")</a>}else{<a class="back-link" href="@routes.CalculatorController.getPaymentToday()">@Messages("ssttp.calculator.form.back")</a>}</p>
    }