@*
Time To Pay Payment Schedule Display Page

@param schedule The PaymentSchedule to show
@param monthOptions List of number of months available to pay over
*@
@import uk.gov.hmrc.selfservicetimetopay.models.CalculatorDuration
@import uk.gov.hmrc.selfservicetimetopay.models.CalculatorPaymentSchedule
@import uk.gov.hmrc.selfservicetimetopay.models.CalculatorPaymentToday
@(schedule:CalculatorPaymentSchedule, durationForm:Form[CalculatorDuration], paymentTodayAmountForm: Form[CalculatorPaymentToday], monthOptions:Seq[Int])(implicit request: Request[_])
@import selfservicetimetopay.helpers.{message_list, pluralize}
@import selfservicetimetopay.helpers.forms.{form, button, inlinenumberinput, numberinput, currencyinput, submit}
@import uk.gov.hmrc.selfservicetimetopay.controllers.routes
@selfservicetimetopay.main(
    title = Messages("ssttp.common.title"),
    bodyClasses = None,
    sidebarLinks = Some(selfservicetimetopay.partials.sidebar())
){
    <h1 style="heading-h1">@Messages("ssttp.calculator.results.title")</h1>
    <section class="section">
        <h2 style="heading-h2">@Messages("ssttp.calculator.results.heading.what-you-owe")</h2>
        <div class="subsection grid-layout divider--bottom">
            <div class="grid-layout__column grid-layout__column--2-3">@Messages("ssttp.calculator.results.you-owe")</div>
            <div class="grid-layout__column grid-layout__column--1-3">@Messages("ssttp.common.currency.symbol")@schedule.amountToPay</div>
        </div>
        <div class="subsection grid-layout divider--bottom">
            <div class="grid-layout__column grid-layout__column--2-3">@Messages("ssttp.calculator.results.you-can-afford")</div>
            <div class="grid-layout__column grid-layout__column--1-3">@form(routes.CalculatorController.calculateInstalmentsPaymentTodaySubmit()) {
                <span class="input-currency"><input type="number" class="input--small input--no-spinner input--left-padding" value="@schedule.initialPayment" readonly /></span> @Messages("ssttp.calculator.results.you-can-afford-now")
            }</div>
        </div>
        <div class="subsection grid-layout divider--bottom">
            <div class="grid-layout__column grid-layout__column--2-3">@Messages("ssttp.calculator.results.your-instalment-balance")</div>
            <div class="grid-layout__column grid-layout__column--1-3"><strong>@Messages("ssttp.common.currency.symbol")@schedule.instalmentBalance</strong></div>
        </div>
    </section>
    <div class="section">
        <h2 style="heading-h2">@Messages("ssttp.calculator.results.heading.your-instalments")</h2>
        <div class="subsection grid-layout divider--bottom">
            <div class="grid-layout__column grid-layout__column--1-2"><ul class="list--inline">
                <li>@Messages("ssttp.calculator.results.monthly-payments")</li>
            </ul></div>
            <div class="grid-layout__column grid-layout__column--1-2">
                <ul class="list--inline gutter-left">
                    <li>@form(routes.CalculatorController.calculateInstalmentsSubmit(), 'class -> "float--left") {
                        <input type="hidden" name="months" id="months-decrease" value="@monthOptions(Seq(0, monthOptions.indexOf(schedule.instalments.length)-1, 0).max)">
                        @defining({
                    <i class="arrow arrow--down"></i><span class="hidden">@Messages("ssttp.calculator.results.monthly-payments.decrease")</span>
                    }) { label =>
                    @if(schedule.instalments.length != monthOptions.min) {
                        @button('_modifierClass -> "button--secondary button--spaced button--table",
                            'role -> "button", Symbol("aria-label") -> Messages("ssttp.calculator.results.monthly-payments.decrease"),
                            'type -> "submit"){@label}
                    } else {
                        @button('_modifierClass -> "button--secondary button--spaced button--table",
                            'role -> "button", Symbol("aria-label") -> Messages("ssttp.calculator.results.monthly-payments.decrease"),
                            'type -> "submit", 'disabled -> "true"){@label}
                    }
                    }
                    }</li>
                    <li>@form(routes.CalculatorController.calculateInstalmentsSubmit(), 'class -> "float--left") {
                        @numberinput(durationForm("months"), '_modifierClass -> "form-field--inline", '_inputClass -> "input--xxsmall input--no-spinner")
                    }</li>
                    <li>@form(routes.CalculatorController.calculateInstalmentsSubmit(), 'class -> "float--left") {
                        <input type="hidden" name="months" id="months-increase" value="@monthOptions(Seq(monthOptions.length-1, monthOptions.indexOf(schedule.instalments.length)+1).min)">
                        @defining({
                                <i class="arrow arrow--up"></i><span class="hidden">@Messages("ssttp.calculator.results.monthly-payments.increase")</span>
                        }) { label =>
                            @if(schedule.instalments.length != monthOptions.max) {
                                @button('_modifierClass -> "button--secondary button--spaced button--table",
                                    'role -> "button", Symbol("aria-label") -> Messages("ssttp.calculator.results.monthly-payments.increase"),
                                    'type -> "submit"){@label}
                            } else {
                                @button('_modifierClass -> "button--secondary button--spaced button--table",
                                    'role -> "button", Symbol("aria-label") -> Messages("ssttp.calculator.results.monthly-payments.increase"),
                                    'type -> "submit", 'disabled -> "true"){@label}
                            }
                        }
                    }</li>
                    <li>@pluralize(schedule.instalments.length, "ssttp.calculator.results.instalments-over.month")</li>
                </ul>
            </div>
        </div>
        @defining(schedule.instalmentBalance) { payment =>
            <div class="subsection grid-layout divider--bottom">
                <div class="grid-layout__column grid-layout__column--2-3">@Messages("ssttp.calculator.results.monthly-payments")
                    <div class="font-xsmall">@Messages("ssttp.calculator.results.monthly-payments.hint")</div>
                </div>
                <div class="grid-layout__column grid-layout__column--1-3"><strong>@Messages("ssttp.common.currency.symbol") @schedule.instalments.head.amount @Messages("ssttp.calculator.results.monthly-payments.per-month")</strong></div>
            </div>
            <div class="subsection grid-layout divider--bottom">
                <div class="grid-layout__column grid-layout__column--2-3">@Messages("ssttp.calculator.results.total-interest")</div>
                <div class="grid-layout__column grid-layout__column--1-3">@Messages("ssttp.common.currency.symbol")@schedule.totalInterestCharged</div>
            </div>
            <div class="subsection grid-layout divider--bottom">
                <div class="grid-layout__column grid-layout__column--2-3">@Messages("ssttp.calculator.results.total-replayment")</div>
                <div class="grid-layout__column grid-layout__column--1-3"><strong>@Messages("ssttp.common.currency.symbol")@schedule.totalPayable</strong></div>
            </div>
        }
        <details>
            <summary>@Messages("ssttp.calculator.results.interest-info.title")</summary>
            <div>
            @message_list(Some("bullets"), "ssttp.calculator.results.interest-info.list.")
            </div>
        </details>
    </div>
    <div class="panel-indent">@Messages("ssttp.calculator.results.interest-info.warning")</div>
    <section class="section">
        <p>@Messages("ssttp.calculator.results.sign-in")</p>
        <p><a href="@routes.EligibilityController.present()" class="button">@Messages("ssttp.calculator.results.sign-in.link")</a>
    </section>
    <section class="section divider--top">
        <p>@Messages("ssttp.calculator.results.call-us.into")</p>
        <p><strong>@Messages("ssttp.calculator.results.call-us.number")</strong></p>
    </section>
    <p><a class="back-link" href="@routes.SelfServiceTimeToPayController.present()">@Messages("ssttp.calculator.form.back")</a></p>
}