@*
    Time To Pay Payment Schedule Calculation footer for authenticated and whitelisted users
*@
@()
@import uk.gov.hmrc.selfservicetimetopay.controllers.routes
<section>
    <div class="table-cell--light">
        <div class="subsection divider--bottom grid-layout">
            <div class="grid-layout__column grid-layout__column--2-3"><p>@Messages("ssttp.calculator.results.auth.continue")</p></div>
            <div class="grid-layout__column grid-layout__column--1-3 text--center align--middle"><p><a href="@routes.ArrangementController.determineMisalignment()" class="button">@Messages("ssttp.calculator.results.auth.continue.link")</a></p></div>
        </div>
    </div>

    <div class="subsection divider--bottom grid-layout">
        <div class="grid-layout__column grid-layout__column--2-3"><p>@Messages("ssttp.calculator.results.call-us.into")</p></div>
        <div class="grid-layout__column grid-layout__column--1-3 text--center align--middle"><p><strong>@Messages("ssttp.calculator.results.call-us.auth.number")</strong></p></div>
    </div>
</section>
