@*
    Time To Pay Payment Schedule Calculation footer for non-authenticated users
    @param print: Boolean set to true to show the print version
*@
@(print:Boolean = false)(implicit request: Request[_])
@import uk.gov.hmrc.selfservicetimetopay.controllers.routes
@import selfservicetimetopay.helpers.forms._
<section>
    <div class="table-cell--light">
        <div class="subsection divider--bottom grid-layout">
            <div class="grid-layout__column grid-layout__column--2-3"><p>@Messages("ssttp.calculator.results.sign-in")</p></div>
            <div class="grid-layout__column grid-layout__column--1-3 text--center align--middle">@if(!print){
                @form(routes.ArrangementController.determineMisalignment()){
                @submit(){@Messages("ssttp.calculator.results.sign-in.link")}
                }}</div>
        </div>
    </div>

    <div class="subsection divider--bottom grid-layout">
        <div class="grid-layout__column grid-layout__column--2-3"><p>@Messages("ssttp.calculator.results.call-us.into")</p></div>
        <div class="grid-layout__column grid-layout__column--1-3 text--center align--middle@if(print){ no-wrap}"><p><strong>@Messages("ssttp.calculator.results.call-us.no-auth.number")</strong></p></div>
    </div>
</section>
