@*
    Time To Pay Payment Schedule Calculation footer for authenticated and whitelisted users
    @param print: Boolean set to true to show the print version
*@
@(print:Boolean = false)(implicit messages: play.api.i18n.Messages, request: Request[_])
@import uk.gov.hmrc.selfservicetimetopay.controllers.routes
@import selfservicetimetopay.helpers.forms._
<section>
    <div>
        <div ><p>@Messages("ssttp.calculator.results.auth.continue")</p></div>
        <div>@if(!print){
            @form(routes.ArrangementController.start()){
            @submit(){@Messages("ssttp.calculator.results.auth.continue.link")}
            }}
        </div>
    </div>
</section>
