@*
    Time To Pay Payment Schedule Calculation footer for non-authenticated users
    @param print: Boolean set to true to show the print version
*@
@(print:Boolean = false)(implicit messages: play.api.i18n.Messages, request: Request[_])
@import uk.gov.hmrc.selfservicetimetopay.controllers.routes
@import selfservicetimetopay.helpers.forms._
<section>
    <div>
        <p>@Messages("ssttp.calculator.results.sign-in")</p>
    </div>
    <div>
        <p>@if(!print){
        @form(routes.ArrangementController.determineMisalignment()){
            @submit(){@Messages("ssttp.calculator.results.sign-in.link")}
        }}
        </p>
    </div>
</section>
