@*
  Self Servgice time to pay payment today page, to enable user to specify how much they can pay today

  @param dataForm Form[bigDecimal] representing the form for the value to be entered
  @param loggedIn Boolean, default false whether the user is logged into their tax account
*@
@import uk.gov.hmrc.selfservicetimetopay.models.CalculatorPaymentToday
@(dataForm: Form[CalculatorPaymentToday], loggedIn: Boolean = false)(implicit messages: play.api.i18n.Messages, request: Request[_])
@import selfservicetimetopay.helpers.forms.{currencyinput, form, formErrorSummary, submit}
@import uk.gov.hmrc.selfservicetimetopay.controllers._

@selfservicetimetopay.main(
  title = Messages("ssttp.calculator.form.payment_today.title"),
  loggedIn = loggedIn
){
 <p><a class="back-link" href="@routes.CalculatorController.getPayTodayQuestion()">@Messages("ssttp.calculator.form.back")</a></p>
  <header class="page-header text">
    <h1>@Messages("ssttp.calculator.form.payment_today.title")</h1>
  </header>
  @form(routes.CalculatorController.submitPaymentToday(), 'id -> "paymentTodayForm", 'class -> "group") {
    @formErrorSummary(Messages("ssttp.calculator.form.payment_today.error.summary.title"), dataForm, Seq.empty)
      @currencyinput(dataForm("amount"),
        '_inputClass -> "input--small input--no-spinner")
    <p>
      @submit(){@Messages("ssttp.calculator.form.continue")}
    </p>
  }

}
