@*
  Self Servgice time to pay payment today page, to enable user to specify how much they can pay today

  @param dataForm Form[bigDecimal] representing the form for the value to be entered
  @param loggedIn Boolean, default false whether the user is logged into their tax account
*@
@(dataForm: Form[BigDecimal], loggedIn: Boolean = false)(implicit request: Request[_])
@import selfservicetimetopay.helpers.forms.{currencyinput, form, formErrorSummary, submit}
@import uk.gov.hmrc.selfservicetimetopay.controllers._
@selfservicetimetopay.main(
  title = Messages("ssttp.common.title"),
  loggedIn = loggedIn
){
  <header class="page-header text">
    <h2 class="h1-heading">@Messages("ssttp.calculator.form.payment_today.title")</h2>
  </header>
  @form(routes.CalculatorController.submitPaymentToday(), 'class -> "group") {
    @formErrorSummary(Messages("ssttp.calculator.form.payment_today.error.summary.title"), dataForm, Seq.empty)
      @currencyinput(dataForm("amount"),
        'label -> Messages("ssttp.calculator.form.payment_today.amount.question"),
        '_inputClass -> "input--small input--no-spinner")
    <p>
      @submit(){@Messages("ssttp.calculator.form.continue")}
    </p>
  }
  <p><a class="back-link trackedBackLink" href="@routes.CalculatorController.getAmountsDue()">@Messages("ssttp.calculator.form.back")</a></p>
}
