@*
Ask the user if they want to sign in at this step
*@
@import uk.gov.hmrc.selfservicetimetopay.controllers.routes
@import selfservicetimetopay.helpers.forms._
@import uk.gov.hmrc.selfservicetimetopay.models.PayTodayQuestion
@(dataForm: Form[PayTodayQuestion], loggedIn: Boolean = false)(implicit messages: play.api.i18n.Messages, request: Request[_])
@selfservicetimetopay.main(
    title = Messages("ssttp.calculator.form.payment_today_question.title"),
    loggedIn = loggedIn
) {
    <header class="page-header text">
        <h1>@Messages("ssttp.calculator.form.payment_today_question.title")</h1>
    </header>
    @form(routes.CalculatorController.submitPayTodayQuestion(), 'class -> "group") {
        @radiobuttons(dataForm("paytoday"), Seq(
            "true" -> Messages("ssttp.calculator.form.payment_today_question.yes_label"),
            "false" -> Messages("ssttp.calculator.form.payment_today_question.no_label")
        ),
            '_label -> Html(Messages("ssttp.eligibility.form.existing_ttp.question")),
            '_groupClass -> "form-field",
            '_labelClass -> "block-label block-label--inline"
        ) {
        }
        <details>
            <summary>@Messages("ssttp.calculatorform.payment_today_question.why_pay_today.title")</summary>
            <p>@Messages("ssttp.calculatorform.payment_today_question.why_pay_today.info")</p>
        </details>

        @submit() {
            @Messages("ssttp.eligibility.form.sign_in_question.continue")
        }
    }
    <p>
        @if(loggedIn) {
            <a class="back-link" href="@routes.EligibilityController.getExistingTtp()">@Messages("ssttp.eligibility.form.sign_in_question.back")</a>
        } else {
            <a class="back-link" href="@routes.CalculatorController.getWhatYouOweReview()">@Messages("ssttp.eligibility.form.sign_in_question.back")</a>
        }
    </p>
}
