@import uk.gov.hmrc.selfservicetimetopay.controllers.routes
@import uk.gov.hmrc.selfservicetimetopay.models.CalculatorSinglePayment
@import selfservicetimetopay.helpers.forms.{ form, formErrorSummary, submit, currencyinput}
@(dataForm: Form[CalculatorSinglePayment], debitDueDate: String)(implicit request: Request[_])

@selfservicetimetopay.main(
    title = Messages("ssttp.calculator.form.what-you-owe-amount.title1")
) {
    <h1>@Messages("ssttp.calculator.form.what-you-owe-amount.title1")
        <br>@Messages("ssttp.calculator.form.what-you-owe-amount.title2", debitDueDate)</h1>
    @form(routes.CalculatorController.submitAmountOwed(), 'class -> "group") {
        @formErrorSummary(Messages("ssttp.calculator.form.what-you-owe-amount.error.summary.title"), dataForm, Seq.empty)
        @currencyinput(dataForm("amount"),
            '_inputClass -> "input--small input--no-spinner")
        <p>
        @submit() {
            @Messages("ssttp.calculator.form.what-you-owe-amount.continue")
        }
        </p>
    }
}
