@*
    Self Service Time to Pay Call Us Page for when a user can't set up time to pay online
*@
@(loggedIn: Boolean = false, typeOfTaxNumber: Boolean = false)(implicit messages: play.api.i18n.Messages, request: Request[_])
@import selfservicetimetopay.helpers.message_list
@selfservicetimetopay.main(
    title = Messages("ssttp.call-us.title"),
    loggedIn = loggedIn
){
    <header class="page-header text">
        <h1>@Messages("ssttp.call-us.title")</h1>
    </header>
    <p class="subsection">@Messages("ssttp.call-us.intro")</p>
    <p class="subsection">
        @Messages("ssttp.call-us.we-need-to-know.list")
        @message_list(Some("bullets"), "ssttp.call-us.we-need-to-know.list.")
    </p>

    @if(typeOfTaxNumber) {
        <p><strong> @Messages("ssttp.call-us.contact-instructions", Messages("ssttp.type-of-tax.contact-number"))</strong></p>
    } else {
        <p><strong> @Messages("ssttp.call-us.contact-instructions", Messages("ssttp.sa-helpline.contact-number"))</strong></p>
    }

}
