@()(implicit request: Request[_])
@import selfservicetimetopay.helpers.message_list
@import selfservicetimetopay.helpers.forms.{form, submit}
@import selfservicetimetopay.partials.sidebar
@import uk.gov.hmrc.selfservicetimetopay.controllers.routes
@selfservicetimetopay.main(
    title = Messages("ssttp.common.title"),
    bodyClasses = None,
    sidebarLinks = Some(sidebar())
){
  <header class="page-header text">
    <h1 class="h1-heading">@Messages("ssttp.landing.title")</h1>
  </header>
  <div class="subsection">
    <p class="subsection">@Messages("ssttp.landing.intro")</p>
    <p class="subsection">
        @Messages("ssttp.landing.before-you-start")
        @message_list(Some("bullets"), "ssttp.landing.before-you-start.list.")
    </p>
    @form(routes.SelfServiceTimeToPayController.submit(), 'class -> "group") {
       @submit(Messages("ssttp.landing.start-button.label"), '_buttonClass -> "button--get-started")
    }
  </div>
}
