@(loggedIn: Boolean = false)(implicit request: Request[_])
@import selfservicetimetopay.helpers.{alert, message_list}
@import selfservicetimetopay.helpers.forms.{form, submit}
@import uk.gov.hmrc.selfservicetimetopay.controllers.routes
@selfservicetimetopay.main(
    title = Messages("ssttp.landing.title"),
    loggedIn = loggedIn
){
    <header class="page-header text">
        <h1 class="h1-heading">@Messages("ssttp.landing.title")</h1>
    </header>
    <p class="subsection">@Messages("ssttp.landing.intro")</p>
    @alert('_modifierClass -> "alert--slim"){@Messages("ssttp.landing.alert")}
    <p class="subsection">@Messages("ssttp.landing.keep-up-to-date")</p>
    <p class="subsection">
        @Messages("ssttp.landing.before-you-start")
        @message_list(Some("bullets"), "ssttp.landing.before-you-start.list.")
    </p>
    @form(routes.SelfServiceTimeToPayController.submit(), 'class -> "group") {
       @submit('_buttonClass -> "button--get-started"){@Messages("ssttp.landing.start-button.label")}
    }
}
