@*
Self-service Time To Pay service unavailable page to redirect users to the call-in service when SSTTP is unavailable
*@
@()(implicit request: Request[_])
@selfservicetimetopay.main(
    title = Messages("ssttp.common.title"),
    bodyClasses = None
) {
    <header class="page-header text">
        <h2>@Messages("ssttp.unavailable.title")</h2>
    </header>
    <p>@Messages("ssttp.unavailable.intro")</p>
    <p>@Messages("ssttp.unavailable.instructions")</p>
    <p><strong>@Messages("ssttp.unavailable.number")</strong></p>
}