@(signedIn: Boolean = false)(implicit messages: play.api.i18n.Messages, request: Request[_])
@import selfservicetimetopay.helpers.{highlight, message_list}
@import uk.gov.hmrc.selfservicetimetopay.controllers.routes
@selfservicetimetopay.main(
    title = Messages("ssttp.you-need-to-file.title"),
    loggedIn = signedIn
) {
    <header class="page-header text">
        <h1>@Messages("ssttp.you-need-to-file.title")</h1>
    </header>
    <div class="panel-indent">
        <p>@Messages("ssttp.you-need-to-file.intro")</p>
    </div>
    <p class="subsection">@Messages("ssttp.you-need-to-file.because")</p>
    @message_list(Some("bullets"), "ssttp.you-need-to-file.because.list.")
    <p class="subsection"><a href="https://online.hmrc.gov.uk/">
    @Messages("ssttp.you-need-to-file.check-account.link")</a> @Messages("ssttp.you-need-to-file.check-account")
    </p>
    <p>@Messages("ssttp.you-need-to-file.other-tax")</p>
}
