$govuk-assets-path: "/pay-what-you-owe-in-instalments/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/pay-what-you-owe-in-instalments/assets/lib/hmrc-frontend/hmrc/";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

.print-only {
  display: none;
}

@media print {
  .no-print {
    display: none;
  }

  .print-only {
    display: block;
  }
}

.language-toggle-position {
  float: right;
}

.input-error {
  border: 4px solid #d4351c;
}

.panel-tabular-data {
  padding-left: 1.4em;
}

.panel-border-narrow {
  border-left-width: 5px;
}


.app-task-list__task-amount {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
  }