@()(implicit request: Request[_])
@import selfservicetimetopay.helpers.message_list
@import selfservicetimetopay.ssttp.sidebar
@selfservicetimetopay.main(
    title = Messages("ssttp.common.title"),
    bodyClasses = None,
    sidebarLinks = Some(sidebar())
){
  <header class="page-header text">
    <h1 class="h1-heading">@Messages("ssttp.ttp-call-us.title")</h1>
  </header>
  <div class="subsection">
    <p class="subsection">@Messages("ssttp.ttp-call-us.intro")</p>
    <p class="subsection">
      @Messages("ssttp.ttp-call-us.we-need-to-know.list")
      @message_list(Some("bullets"), "ssttp.ttp-call-us.we-need-to-know.list.")
    </p>
    <p><strong>@Messages("ssttp.ttp-call-us.contact-instructions", Messages("ssttp.ttp-call-us.contact-number"))</strong></p>
  </div>
}
