@*
* Copyright 2021 HM Revenue & Customs
*
*@

@this(
        hmrcScripts: uk.gov.hmrc.hmrcfrontend.views.html.helpers.HmrcScripts,
)

@()(implicit request: play.api.mvc.Request[_], messages: Messages)

    @hmrcScripts()

    <script src='@routes.Assets.versioned("javascripts/application.js")'></script>

    <script src='@routes.Assets.versioned("javascripts/jquery-3.6.0.js")' rel="stylesheet"></script>
    <script src="@routes.Assets.versioned("javascripts/self-service-time-to-pay.js")"></script>