@()(implicit request: Request[_])

@import uk.gov.hmrc.play.views.html.helpers.{form => formHelper}

@main_template(title = "self-service-time-to-pay-frontend", bodyClasses = None) {
    <h1>self-service-time-to-pay-frontend</h1>

    @formHelper(action = controllers.routes.SSTTPController.fetchTotalLiability(), 'id -> "isEligible"){
        <input type="checkbox" checked="checked" value="selected" name="isEligible" id="isEligible"/> Is Eligible
        <button type="submit">Check Liability?</button>
    }
}